{% extends "AcmeBasicCmsBundle::layout.html.twig" %}
{% block title %}<h1>Success!</h1>{% endblock %}
{% block content %}
<div class="col width-4of4">
    <div class="cell panel background-green">
        <div class="cell">
        <h2>Your message has been delivered!</h2>
        <br/>
        </div>
    </div>
</div>
{% endblock %}

