{% extends "AcmeBasicCmsBundle::layout.html.twig" %}
{% block title %}<h1>{{ page.title }}{% endblock %}
{% block content %}
    <div class="cell">
        {{ page.content|raw }}
    </div>
{% endblock %}
