{% extends "AcmeBasicCmsBundle::layout.html.twig" %}
{% block title %}<h1>{{ page.title }}</h1>{% endblock %}
{% block content %}
    {% include "AcmeBasicCmsBundle:Default:_pagination.html.twig" %}
    {% for post in pager %}
        {% include "AcmeBasicCmsBundle:Default:_mediumPost.html.twig" %}
    {% endfor %}
    {% include "AcmeBasicCmsBundle:Default:_pagination.html.twig" %}
{% endblock %}

