{% extends "AcmeBasicCmsBundle::layout.html.twig" %}
{% block title %}<h1>Articles with tag "{{ tag }}"</h1>{% endblock %}
{% block content %}
    <div class="cell">
        <ul>
        {% for referrer in referrers %}
            {% include "AcmeBasicCmsBundle:Default:_mediumPost.html.twig" with {'post': referrer} %}
        {% endfor %}
        </ul>
    </div>
{% endblock %}

