.controls textarea.content_textarea {
    background-color: #111;
    color: #eee;
    width: 800px;
    height: 400px;
    font-family: monospace;
}

p, img {
    clear: both;
}

.pagination li.active {
    padding: 0.3em;
}

code {
    border-style: none;
    margin: 0px;
}

section.article pre {
    background-color: #111;
    border-radius: 0px;
    color: #eee;
    padding: 0px 20px;
    overflow-x: auto;
    white-space: pre;
    overflow: auto;
    user-select: all;
}

section.article pre code {
}

section.article {
    font-size: 1.2em;
}
